# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.db

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual Environment
venv/
env/
ENV/
.venv/

# IDE and Editor files
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db